/* Header样式 */
.app-header {
  background-color: var(--semi-color-bg-0);
  border-bottom: 1px solid var(--semi-color-border);
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.app-header-left {
  display: flex;
  align-items: center;
}

.header-icon-help:hover {
  color: rgba(var(--semi-yellow-4), 1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

/* 头部logo */
.header-logo {
  margin-right: 12px;
}

.header-title {
  color: var(--semi-color-text-0);
  margin: 0;
  cursor: pointer;
}
